.carousel-main {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh; 
}

.rec-arrow:hover {
  border-radius: 50%;
  background-color: transparent;
}
.carousel-wrapper {
  width: 100%;
  background-color:#f5f7fa;
  padding: 80px 5px 50px 5px;
  overflow: hidden;
  position: relative;
}
@media all and (min-width : 400px) and (max-width : 900px){
  .carousel-wrapper {
    width: 100%;
    background-color:#f5f7fa;
    padding: 80px 5px 50px 5px;
    overflow: hidden;
    position: relative;
    margin-top: -10px;
  }
}

@media all and (min-width : 900px) and (max-width : 920px){
  .carousel-wrapper {
    width: 100%;
    background-color:#f5f7fa;
    padding: 80px 5px 80px 5px;
    overflow: hidden;
    position: relative;
    margin-top: -400px;
  }
}

@media all and (min-width : 920px) and (max-width : 1100px){
  .carousel-wrapper {
    width: 100%;
    background-color:#f5f7fa;
    padding: 80px 5px 530px 5px;
    overflow: hidden;
    position: relative;
    margin-top: 150px;
  }
}

